/*Student: Anne Lohmeijer
UvA-ID: 10447555
File: layout.css*/


/*title styling*/

h1.header {
	display: block;
	position: relative;
	font-size: 45px;
	font-weight: bold;
	border: 2px solid lightgrey;
	height: 70px;
	line-height: 70px;
	text-align: center;
	width: 1710px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fcfcfc;
}
body>h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*use same font for whole page*/

body {
	font-family: sans-serif;
}
html {
	background-color: #4682B4;
}

#legend > g > g > g > text {
	font-size: 20px;
	font-weight: bold;
}

/*style settings for worldmap legend*/

.legend {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#continents, #industries {
	font-size: 20px;
	background-color: lightgrey;
	font-weight: bold;
}
form {
	font-size: 18px;
	background-color: lightgrey;
}

/*placement of central div which contains choropleth and sunburst*/

body>div.parent {
	display: block;
	margin-top: 0px;
	margin-bottom: 5px;
}
#parent_div_1, #parent_div_2 {
	display: inline-block;
	border: 2px solid lightgrey;
	vertical-align: top;
	background-color: #fcfcfc;
}

/*style settings for time slider*/

#slider>svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid lightgrey;
	background-color: #fcfcfc;
}
#slider>svg>g>g.x.axis {
	font: 14px sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#slider>svg>g>g.x.axis>path.domain {
	fill: none;
	stroke: black;
	stroke-opacity: .3;
	stroke-width: 10px;
	stroke-linecap: round;
}
#slider>svg>g>g.x.axis>path.halo {
	fill: none;
	stroke: #ddd;
	stroke-width: 8px;
	stroke-linecap: round;
}
#slider>svg>g>g.slider>circle {
	fill: #fff;
	stroke: #000;
	stroke-opacity: .5;
	stroke-width: 1.25px;
	pointer-events: none;
}

/*style settings for linechart */

.line {
	fill: none;
	stroke-width: 4px;
}
#linechart>svg>g>text {
	font: 22px sans-serif;
	font-weight: bold;
}
path {
	stroke: #fff;
	stroke-width: 1.5px;
}

/*general button styling*/

button {
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	font: 22px sans-serif;
	font-weight: bold;
	color: white;
	background-color: steelblue;
	border: 1px solid grey;
}
#modalContentId {
	text-align: left;
}
#sunburst_button {
	position: absolute;
	z-index: 1;
	margin-left: 320px;
	margin-top: 55px;
}
#parent_div_3 {
	display: block;
	border: 2px solid lightgrey;
	background-color: #fcfcfc;
	width: 1710px;
	height: 400px;
	position: relative;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

/*style settings linechart*/

#linechart {
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}
#linechart>svg>g>.axis {
	font: 14px sans-serif;
}

/*mouseover styling*/

.overlay {
	fill: none;
	pointer-events: all;
}
#linechart>svg>g>.axis>path.domain {
	fill: none;
	stroke: #ddd;
	stroke-width: 2;
}
#linechart_legend, #legend, #legend_sunburst {
	position: absolute;
	font: 16px sans-serif;
}
#linechart_legend {
	margin-left: 1100px;
	margin-top: 80px;
}
#legend {
	background-color: #f0f0f0;
}
#map {
	position: relative;
}
.hoverinfo {
	font-family: verdana;
	font-size: 100%;
	color: black;
	text-align: left;
}
#sunburst {
	position: relative;
}
#legend>g>text {
	margin-top: 20px;
	font-size: 25px;
	font-weight: bold;
}

/*style settings for data source*/

#source {
	position: absolute;
	margin-top: 300px;
	margin-left: 1440px;
	border: 2px solid lightgrey;
	font: 14px sans-serif;
	font-weight: bold;
	height: 70px;
	line-height: 25px;
}
