h1.header {
	display: block;
	position: relative;
	font-family: verdana;
	font-size: 150%;
	border: 2px solid lightgrey;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

body > h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}



.hoverinfo{
	font-family: verdana;
	font-size: 100%;
	/*font-weight: normal;*/
	color: black;
	text-align: left;

}


/*style settings for worldmap legend*/
.legend {
position: absolute;
/*z-index: 1;*/
bottom: 10px;
left: 10px;
/*background-color: lightgrey;*/


}
/*
#industries{
	position: absolute;
	top: 20px;

}*/

#continents, #industries{
	font-family: verdana;
	font-size: 110%;
	background-color: lightgrey;
	font-weight: bold;


}



/*style settings for industry and continent buttons*/
form, .legend {
font-family: verdana;
font-size: 90%;
background-color: lightgrey;
/*margin-top: 20px;*/
/*margin-bottom: 20px;*/
/*border: 2px solid blue;*/
}



body > div.parent {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

#parent_div_1, #parent_div_2{
	display: inline-block;
	border: 2px solid lightgrey;
	vertical-align: top;
	background-color: #fcfcfc;
}


/*style settings for time slider*/
	#slider > svg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: 2px solid lightgrey;
	}


	.axis {
	  font: 10px sans-serif;

	  -webkit-user-select: none;
	  -moz-user-select: none;
	  user-select: none;
	}

	.axis .domain {
	  fill: none;
	  stroke: black;
	  stroke-opacity: .3;
	  stroke-width: 10px;
	  stroke-linecap: round;
	}

	.axis .halo {
	  fill: none;
	  stroke: #ddd;
	  stroke-width: 8px;
	  stroke-linecap: round;
	}

	.slider .handle {
	  fill: #fff;
	  stroke: #000;
	  stroke-opacity: .5;
	  stroke-width: 1.25px;
	  pointer-events: none;
	}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}


#linechart{
	position: relative;
	border: 3px solid lightgrey;
	top: 30px;
	left: 30px;
}


#map{
	position: relative;
	/*left: 10px;
	top: 10px;
	right: 10px;*/
	/*border: 3px solid black;*/
	/*display:inline-block;*/
}

#sunburst{
	position: relative;
}
