h1.header{
	position: relative;
	left: 30px;
	font-family: verdana;
	font-size: 180%;

}

.hoverinfo{
	font-family: verdana;
	font-size: 100%;
	/*font-weight: normal;*/
	color: black;

}


#map{
	position: relative;
	left: 30px;
	top: 0;
	/*border: 3px solid black;*/
}


#sunburst{
	position: relative;
	left: 30px;
	top: 50px;
	/* border: 1px solid black;*/
	display:inline-block;
}

#timebar{
    position: relative;
		left: 200px;
    top: 30px;
		border: 3px solid #73AD21;
    /*padding: 10px;*/
}

#range{
	position: relative;
	left: 250px;
	top: -15px;
	font-family: courier;
	font-size: 160%;
	font-weight: bold;
}

#ice{
	position: relative;
	left: 50px;
	top: 50px;
	border: 3px solid orange;
	display: inline-block;
}
